# docker-compose.yml - CORREGIDO
version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_USER: tnn
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: petrocontrol_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: